<div class="external-links">
	<div>View more of my work here: <a href="https://github.com/jonmpearman">Github</a></div>
	<div>View my LinkedIn profile here: <a href="https://www.linkedin.com/in/jon-pearman-5a13bba6">LinkedIn</a></div>
</div>
<div class="container main-content colored portfolio" ng-controller="portfolioCtrl as port">
	<div ng-repeat="item in port.portfolio" class="portfolio-entry">
		<div class="img-wrapper">
			<img src="{{item.imgSrc}}"/>
		</div>
		<div class="summary right clearfix">
			<p>{{item.summary}}</p>
			<div class="btn goto">
				Go To
				<a href="{{item.linkUrl}}" target="_blank"><span></span></a>
			</div>
		</div>
	</div>
</div>