<!DOCTYPE html>
<html>
 <head>
 	<title>Learning Angular</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="../scripts/app.js"></script>
	<script type="text/javascript" src="../scripts/directives/menu.js"></script>
 	<script type="text/javascript" src="../scripts/controllers/menuCtrl.js"></script>
 </head>
 <body>
 	<div ng-app="app">
 		<h1>Learning Angular</h1>
 		<menu></menu>
 	</div>
 </body>
</html>