body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.pageContainer {
    display: grid;
    grid-template-areas: 
        "header header header"
        ". content ."
        "footer footer footer";
    grid-template-rows: 300px 1fr 50px;
    grid-template-columns: 15% 70% 15%;
}

.appContainer {
    grid-area: content;
    background-color: #fff;
    transform: translateY(-50px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 5px #000;
    padding: 20px;
}