	<div  ng-controller="footNavCtrl as footNav" class="container foot-content">
		<div class="row">	
			<div class="col-md-4">
				<h2>About</h2>
				<div class="about">{{ footNav.message }}</div>
			</div>
			<div class="col-md-4">
				<h2>Pages</h2>
			 	<ul class="foot-wrapper">
					<li ng-repeat="foot in footNav.footNames">
						<a class="link" href="#/{{foot.name | lowercase}}">
							{{foot.name}}
						</a>
					</li>
				</ul>
		 	</div>
	 		<div class="col-md-4">
	 			<h2>External Links</h2>
	 			<a class="footer-link link" target="_blank" href="https://github.com/jonmpearman">Github</a>
	 			<a class="footer-link link" target="_blank" href="https://www.linkedin.com/in/jon-pearman-5a13bba6">LinkedIn</a>
	 		</div>
	 	</div>
 	</div>