/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a:focus, a:hover {
	text-decoration: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
html {
	font-family: 'PT Serif', serif;
}

h2 {
	font-size: 1.5em;
	font-weight: 700;
	margin: 10px;
}

p {
	padding: 10px;
}

body {
	font-size: 100%;
	background: #ffffff;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
header {
	min-height: 200px;
	height: 100%;
}
.intro {
	min-width: 66%;
	width: 100%;
}

.intro header {
	background: linear-gradient(to bottom, #ffffff 0%, #e5ede8 50%, #e5ede8 100%);
	background-repeat: no-repeat;
}

.intro h1{
	top: 30px;
	position: relative;
	margin: 0 0 10px 20px;
	font-size: 3em;
	text-transform: uppercase;
	text-align: left;
	display: inline-block;
}

.intro h1 a {
	color: #000000;
}

.intro h2 {
	margin: 20px;
	position: relative;
	display: inline-block;
	font-size: 1em;
	color: rgba(0,0,0,0.6);
}

.intro header, .intro.menuBtn {
	/*background: linear-gradient(to top, #ffffff 0%, #e0e0d1 66%, #e0e0d1 100%);*/
}

/* Main Menu */

menu {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #9C9FA1;
	background-repeat: no-repeat;
}

.menuBtn {
	width: 50px;
	border: 1px solid #e5ede8;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.menuBtn:hover {

}

.menu {
	width: 600px;
	margin: 0 auto;
	padding: 15px;
}

.menu .active {
	background-color: #ffffff;
	color: #9C9FA1;
	font-weight: bolder;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.menu .link.active:hover {
	color: #9C9FA1;
}

.menu-wrapper li {
	display: inline-block;
}

.menu-wrapper {
	display: inline-block;
}

.menu nav {
	-webkit-transition:all linear 0.1s;
	transition: all linear 0.1s;
}

.menu nav.ng-hide {
	opacity: 0;
	transform: scale(0.8)
}

.link {
	color: rgba(0,0,0,0.6);
	margin: 5px;
	padding: 20px;
}

.link:hover {
	color: #ffffff;
}

/* Palindrome Form */
.btn {
	display: inline-block;
	border: 1px solid #9C9FA1;
	border-radius: 5px;
	padding: 3px 5px;
}

.btn-check {

}

/* Portfolio */
.portfolio {
	border-radius: 5px;
	margin-bottom: 10px;
}

.portfolio-entry {
	display: block;
	padding: 10px;
	border-bottom: 2px dotted black;
}

.portfolio-entry:last-child {
	border-bottom: none;
}

.summary {
	display: inline-block;
	padding: 10px;
	width: 45%;
}

.img-wrapper {
	display: inline-block;
	margin: 5px;
	width: 50%;
}

.img-wrapper img {
	width: 100%;
}

.goto {
	position: relative;
}

.goto span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 1;
}

.external-links {
	margin: 10px;
	text-align: center;
}

/* Main-Content */
.main-content {
	min-height: 500px;
	height: 100%;
}

.content {
	height: 200px;
	padding: 20px;
}

.colored {
	background-color: #e5ede8;
}

.right {
	float: right;
}

/* Footer */
footer {
	min-height: 200px;
	height: 100%;
	background: #9C9FA1;
	background-repeat: no-repeat;
}

.foot-wrapper li {
	margin: 5px;
}

.foot-wrapper .link {
	padding: 0;
}

.foot-content {
	padding: 20px;
}

/* clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */