/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a:focus, a:hover {
	text-decoration: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styles */
html {
	font-family: 'PT Serif', serif;
}

h2 {
	font-size: 1.5em;
	font-weight: 700;
	margin: 10px;
}

p {
	padding: 10px;
}

label {
	display: block;
	color: #ffffff;
	margin: 10px 0;
}

body {
	font-size: 100%;
	background-image: url("../assets/imgs/congruent_outline.png");
	background-color: #ffffff;
	/*background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 1%, rgb(161, 216, 255) 1%, rgb(161, 216, 255) 33%, rgb(255, 255, 255) 33%);*/
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
.header {
	width: 35%;
}

.intro {
	display: flex;
	width: 100%;
}

.intro header {
/*	background: linear-gradient(to bottom, #ffffff 0%, #e5ede8 50%, #e5ede8 100%);
	background-repeat: no-repeat;*/
}

.intro h1{
	position: relative;
	margin: 10px;
	font-size: 2em;
	text-transform: uppercase;
	display: block;
}

.intro h1 a {
	color: #ffffff;
}

.intro h2 {
	margin: 10px;
	position: relative;
	display: block;
	font-size: 1em;
	color: #ffffff;
}

/* Main Menu */

menu {
	display: flex;
	width: 100%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #1D74B2;
	/*background: #9C9FA1;*/
	background-repeat: no-repeat;
}

.menuBtn {
	width: 50px;
	border: 1px solid #e5ede8;
	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.menu {
	display: flex;
	width: 35%;
	/*margin: 0 20px 0 auto;*/
	margin-left: auto;
	cursor: pointer;
}

.menu .active {
	font-size: 1.4em;
}

.menu .active:hover {
	font-size: 1.4em;
}

/*.menu .link.active:hover {
	color: #9C9FA1;
}
*/
.menu-wrapper {
	display: flex;
	text-align: center;
	width: 100%;
}

.menu-wrapper li {
	display: flex;
	width: 20%;
	margin: 5px;
}

.menu-wrapper li a {
	width: 100%;
	margin: auto 0;
	padding: 0;
}

.menu-wrapper li a:focus {
	color: #ffffff;
}

.menu nav {
	-webkit-transition:all linear 0.1s;
	transition: all linear 0.1s;
}

.menu nav.ng-hide {
	opacity: 0;
	transform: scale(0.8);
}

.link {
	color: #ffffff;
	margin: 15px;
	padding: 20px 20px 12px 20px;
}

.link:hover {
	color: #ffffff;
	font-size: 1.1em;
}

/* Login Button */
.login {
	width: 10%;
	display: flex;
}

.login-btn {
	width: 100%;
	margin-top: auto;
	margin-bottom: auto;
}

/* Side Nav */
.side-nav {
	float: left;
	z-index: 100;
	background-color: black;
	width: 15%;
	position: absolute;
	top: 50%;
}

/* Palindrome Form */
.btn {
	border: 1px solid #9C9FA1;
	padding: 2px;
}

.btn-check {
	color: #ffffff;
}

.btn-check:hover {
	background-color: #ffffff;
}

/* Portfolio */
.portfolio {
	border-radius: 5px;
	border: 1px solid black;
}

.portfolio-entry {
	position: relative;
	display: block;
	padding: 10px;
	border-bottom: 2px dotted black;
}

.portfolio-entry:last-child {
	border-bottom: none;
}

.summary {
	display: inline-block;
	padding: 10px;
	width: 45%;
}

.img-wrapper {
	display: inline-block;
	margin: 5px;
	width: 50%;
}

.img-wrapper img {
	width: 100%;
}

.goto {
	position: relative;
}

.goto span {
	width: 100%;
	height: 100%;
}

.external-links {
	margin: 10px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

/* Main-Content */
.main-content {
	min-height: 500px;
	height: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	height: 200px;
	padding: 20px;
}

.colored {
	background-color: #ffffff;
	color: #000000;
	/*background-color: #e5ede8;*/
}

.right {
	float: right;
}

.white {
	color: #ffffff;
}

/* Footer */
footer {
	min-height: 200px;
	height: 100%;
	background: #1D74B2;
	/*background: #9C9FA1;*/
	background-repeat: no-repeat;
}

.footer-link {
	color: #ffffff;
	margin-left: 10px;
	padding: 0;
}

.foot-wrapper li {
	margin: 5px;
}

.foot-wrapper .link {
	padding: 0;
}

.foot-content {
	padding: 20px;
}

.foot-content h2 {
	color: #ffffff;
}

.about {
	color: #ffffff;
}

/* Responsive */
@media screen and (max-width: 1200px) {
	.menu {
		width: 100%;
		margin: 0;
	}
}

/* clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */